@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap'); /* troppo italico */

@font-face{
    font-family: Zilla_bold;
    src: url(font/zilla-slab.semibold.ttf);
}

@font-face{
    font-family: Zilla_reg;
    src: url(font/zilla-slab.regular.ttf);
}

@font-face{
    font-family: Zilla_reg_italic;
    src: url(font/zilla-slab.italic.ttf);
}

@font-face{
    font-family: Zilla_med_italic;
    src: url(font/zilla-slab.medium-italic.ttf);
}


@font-face{
    font-family: futura heavy;
    src: url(font/Futura_heavy.ttf);
}

body {
    background-color: #00111a;
    width: 80%;
    margin: auto;
    margin-top: -2%;
    border-left: 1px solid #faebd7;
    border-right: 1px solid #faebd7;
    color: #faebd7;
    box-shadow: 0px 0px 20px #faebd7;
    font-family: Zilla_bold;
    overflow-x:hidden;

}

header {
    background-color: #faebd7;
    color: #00111a;
    padding-top: 2%;
    padding-bottom: 0.1px;
}

.titoli_fissi { padding-left: 5%; }

#TITOLO { font-size: 30px;} 

#TITOLINO { font-size: 20px; margin-top: -1%; font-family: 'Zilla_med_italic', serif;}

#barra_navigazione {border-top: 1px solid; }

#barra_navigazione ul { list-style-type: none;}

#barra_navigazione li { padding: 17px; display:inline; text-decoration: none; cursor: pointer; }

#barra_navigazione li:hover { background-color: #00111a; color: #faebd7; }

.checked {
    background-color: #00111a; color: #faebd7;
}


.contenitori_body{
    font-family: Zilla_bold;
    text-align: center;
}

#contenitore_contenuti {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 5%;
    margin-bottom: 5%;
}

.titolo_contenuti{
    width: 90%;
    margin:auto;
    margin-bottom: 4%;
}

/* contenitore galleria */

 #contenitore_galleria{
    position: relative;
    width: 30%;
    height: 380px;
    float: left;
    background-color: #00111a;
    overflow: hidden;
    margin-left: 10%;
    margin-top: 3%;
    box-shadow: 0px 0px 0px ;
    border-radius: 4px;
} 

.slides{
    display: flex;
    height: 100%;
}

.slide{
    min-width: 100%;
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%;
}

#frecce-slides{
    position: absolute;
    top: 63%;
    width: 31.9%;
    margin-left: 4%;
    display: flex;
    justify-content: space-between;
}

#prev-btn, #next-btn{
    cursor: pointer;
    background: transparent;
    border:none;
    font-size: 30px;
    color: #faebd7;
}


#prev-btn:focus, #next-btn:focus{
    outline: none;
}

.slide-content{
    position:relative;
    margin-top: -25%;
    font-size: 10px;
    background-color: #00111a;
    color: #faebd7;
    padding: 2%;
    text-align: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    border: 4px double #faebd7;
    font-family: 'Zilla_reg', serif;
}

/* contenitore presentazione */

#contenitore_presentazione{
    width: 50%;
    display: inline-block;
    margin-top: 1%;
}
#sottotitolo{
    margin-bottom: 5%;
    font-size: 12px;
}

.presentazione{
    font-family: 'Zilla_reg', serif;
    line-height: 25px;
    font-size: 16px;
    width: 85%;
    margin:auto;
    text-align: justify;
    text-justify: inter-word;
}

/* contenitore anteprime */


.titolo_anteprima_lettera{
    font-size: 17px;
    font-family: 'Zilla_reg', serif;
    letter-spacing: -1px;
}

#anteprima_lettera47 > p, #anteprima_lettera46 > p{
    letter-spacing: -1.1px;
}

.div_anteprima{
    width: 19%;
    padding:2%;
    display: inline-block;
    -webkit-transition:-webkit-transform 700ms ease;
}

.anteprima_lettere_1943, .anteprima_lettere_1944, .anteprima_lettere_1945 {
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
}

.div_anteprima:hover{
    -webkit-transform: scale(1.1);
}


/* contenitore lettere */

.titolo_lettera {
    font-family: 'Zilla_reg', serif;;
    text-align: center;
    font-size: 30px;
    margin-bottom: 5%;
}


.dettagli {
    width: 37%;
    margin-left: 40%;
    height: 100%;
    position: absolute;
    text-align: left;
    font-size: 15px;
    font-family: 'Zilla_reg', serif;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

table, td{  
    text-align: left;
    font-size: 15px;
    font-family: 'Zilla_reg', serif;
}

th{
    width: 50%;
    border-bottom: 2px solid;
    padding-bottom: 10px;
    padding-top: 10px;
}

.immagini {
    position: absolute;
    overflow-y: scroll;
    height: 110%;
    width: 36%;
    margin-left: 2%;
    float: left;
}

.img_lettera {
    width: 100%;
    margin-bottom: 3%;
    cursor: default;
    float: left;
}

.img_lettera:hover, map:hover{
    cursor: crosshair;
}

/* statistiche */


.analisi {
    margin-top: 5%;
}

.div_analisi{
    position: relative;
    width: 45%;
    margin-top: 2%;
    margin-left: 5%;
    display: inline-block;
}

.table_analisi{
    margin-bottom: 3%;
    padding: 2%;
}


/* biografia */

#contenitore_contenuti img {
    border-radius: 4px;
}


.biografia{
    font-family: 'Zilla_reg', serif;
    text-align: justify;
    line-height: 30px;
    padding: 2%;
}

#biografia_testo {
    width: 50%;
    display: inline-block;
}

#angiolo {
    width: 30%;
    margin-left: 10%;
    display: inline-block;
    padding: 2%;
}

#argia{
    width: 32%;
    margin-left: 10%;
    display: inline-block;
    padding: 2%;
}


#biografia_foto_famiglia{
    width: 30%;
    display: inline-block;
    padding: 3%;
    transform: translateY(-30%);
}

#famiglia1{
    width: 100%;
    display: inline-block;
   
}

#biografia_maxi{
    width: 85%;
    display: inline-block;
}

#angiolo_cuoco{
    width: 50%;
    margin-left: 25%;
    margin-top: 3%;
}

/* footer */

footer{
    position: absolute;
    bottom: 0;
    border-top: 1px solid;
    background-color: #faebd7;
    color: #00111a;
    font-family: 'Zilla_bold', serif;
    position: relative; 
	height: 320px;
	clear:both;
    padding: 2%;
}

.p_footer{
    font-family: 'Zilla_reg', serif;
    line-height: 25px;
    font-size: 17px;
} 

/* altro */ 

.titolo_contenuti {
    padding-top: 5%;
}